body{
    background-color: var(--color-white);
    font-family: Arial;
}

.profielfoto{
    margin-top: 20px;
}

.header-top{
    padding: 30px 0;
}
.hamburger{
    display:none;
}

.fotoplaat{
    height:350px;
}
#aanmaak{
    width:500px;
    height:60.02px;
}
input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 29px;
    border-color: #343434;
    font-size: 20px;
}
input .placeholder{
    margin-left: 10px;
}
.container-fluid{
    border-bottom: 1px solid #707070;
}
nav ul{
    display: flex;
    padding-left: 0;
}

nav ul li{
    list-style-type: none;
    padding-right: 40px;
}
a{
    color:#343434;
    text-decoration: none;
}
.info{
    background-color:white;
    font-size: 41px;
}
.naam{
    font-family:Arial;
    margin-left:0;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#343434;
    color: white;
    text-align: center;
    font-family: Arial;
    position: fixed;
}

.nav-links{
    color: white;
}

.fotoplaat{
display:block;
width: 536px;
height: 482px;
object-fit: cover;
}

img{
    width:100%;
}
.productfoto{
    margin-bottom: 50px;
}
/*LOGINPAGINA*/

.gebruikersnaam{
    font-size: 22px;
    font-family: Arial;
    font-style: initial;
    margin-top: 30px;
}
button{
    background-color:#343434;
    width:202.78px;
    height:60.02px;
    margin-top: 44.2px;
    margin-left: 120.7px;
    color:white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
}

.logintekst{
    font-size: 32px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}


/*LIJSTPAGINA*/
.naam{
    color: #343434;
}

